<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{site.user_description}}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>
      My most recent full time position is educational research scientist of
      University of Washington. My projects are focusing on reinforcing second
      langugae acquisition through robotic engagemnt. I designed several plans
      for better learning and data collection.
    </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>Java, Python, Swift, Kotlin, SQL, R, HTML/CSS, JavaScript.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>
      Docker, AWS EC2, AWS S3, Bootstrap, React Native, Flask, Tkinter, Android
      Studio, XCode, VSCode, SQLAlchemy, Git/GitHub.
    </p>
  </div>
</div>
