<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend:
    site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>MotionDeteK Webcam Movement Application</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>
      ● Decoded webcam video frames by checking and highlighting moving objects
      in the detected video clips. ● Implement recording of moving objects’
      entry and exit timeline and calculate the duration for future data
      analysis. ● Utilized the techniques to work with videos for object
      tracking, pixel editing, code optimization, and some mathematical tools
      using different image processing functions inside OpenCV.
    </p>
    <a class="https://github.com/xingguo-huang/Webcam-motion-detection" href="#"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>National Park Services Web Application</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>
      ● Orchestrated the most current mainstream technologies, including
      Bootstrap, AWS, Nginx, Gunicorn, to build a user-centered website for
      national parks information retrieval and classification. ● Utilized Google
      map API, optimized National Park API to provide better services for park
      location, availability. ● Deployed on Amazon EC2 instance to promote the
      availability of web app for larger audience usage.
    </p>
    <a class="https://github.com/xingguo-huang/National-Park-Services" href="#"
      >Check it out</a
    >
  </div>
</div>
