<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend:
    site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>MotionDeteK Webcam Movement Application</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>
      ● Decoded webcam video frames by checking and highlighting moving objects
      in the detected video clips. ● Implement recording of moving objects’
      entry and exit timeline and calculate the duration for future data
      analysis. ● Utilized the techniques to work with videos for object
      tracking, pixel editing, code optimization, and some mathematical tools
      using different image processing functions inside OpenCV.
    </p>
    <a
      class="project-link"
      href=https://github.com/xingguo-huang/Webcam-motion-detection
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>Flixster Movie information managing application</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>
      ●	Built with object-oriented approach for the current movies with image, title, description, YouTube trailer videos.
●	Hosted details of movie such as ratings using RatingBar, popularity, and synopsis for a more informative description.
●	Utilized technologies including Activity Lifecycle, Parcelable, Networking, IMDB API and Parsing JSON.

    </p>
    <a
      class="project-link"
      href=https://github.com/308241561/Flixster
      >Check it out</a
    >
  </div>
</div>
